/* background: rgb(26, 31, 37);
border: 1px solid rgba(255, 255, 255, 0.1);
background-color: #e6b333; */
.App {
  display: flex;
  flex-direction: column;

  width: 100%;
  height: 100vh;

  background: rgb(26, 31, 37);
  overflow-y: scroll;
  transition: 1s ease;
}

.App header {
  background: #e6b333;
  color: white;

  font-size: 14px;
  text-align: center;

  display: flex;
  justify-content: space-between;
  align-items: center;

  padding: 10px 20px;
}

.App header h1 {
  padding-left: 20px;
}

.App header img {
  width: 30px;
  height: 30px;
}

#darkTheme {
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  align-items: center;
  
  cursor: pointer;
  background: rgba(26, 31, 37, 0.25);
  border-radius: 50px;
  position: relative;
}

#sun {
  width: 25px;
  height: 25px;
  padding: 5px;
  /*background: rgba(255, 255, 255);
  border-radius: 50px; */
  transition: 1s ease;
}

#dark {
  width: 25px;
  height: 25px;
  padding: 5px;
  /* background: rgba(26, 31, 37);
  border-radius: 50px; */
  transition: 1s ease;
}

.App .content-header {
  color: rgba(255, 255, 255, 0.75);
  padding: 10px;

  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
}

.App .content-header p {
  font-size: 18px;
  padding: 0 10px 0 0;
}

.App .content-header select {
  padding: 5px 10px;
}

#marshlist, #autolist, #dataListMarsh, #autolistMarsh {
  -webkit-appearance: none;
  cursor: pointer;
  /* display: inline-block; */
  font-size: 16px;
  color: rgb(26, 31, 37);
  border: 1px solid rgb(26, 31, 37);
  height: 30px;
  width: 40%;
  /* height: 40px;
  width: 50%; */
  background: rgba(255, 255, 255, 0.75);
  -moz-transition: all 0.5 ease-in;
  -o-transition: all 0.5 ease-in;
  -webkit-transition: all 0.5 ease-in;
  transition: all 0.5 ease-in;
  padding: 5px 20px;
  border-radius: 50px;
}

#marshlist {
  padding: 5px;
}

#autolist, #autolistMarsh {
  width: 95%;
}

.App .content-change {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;

  padding: 15px;
}

.App .content-change button {
  color: white;
  border: none;
  border-radius: 5px;
  background: #e6b333;

  font-size: 16px;
  cursor: pointer;

  padding: 5px 15px;
  margin-left: 10px;
  height: 40px;
}

.App .content {
  display: flex;
  flex-direction: column;
  justify-content: center;

  padding: 5px 30px;
  border-top: 1px solid rgba(255, 255, 255, 0.1);
}

.App .content h3 {
  color: white;
  text-align: center;
  padding-bottom: 5px;
}

.App .content li {
  padding: 5px;
  color: rgba(255, 255, 255, 0.5);
  font-size: 18px;
  text-decoration: none;

  list-style-type: none;

  cursor: pointer;
  border-bottom: #e6b333 1px solid ;
}

.App table {
  border-spacing: 0px !important;
  padding-bottom: 20px;
}

.App .content th {
  color: #e6b333;
  padding: 5px 10px;
  text-align: center;
  border-bottom: #e6b333 1px solid;
}

.App .content td {
  padding: 5px;
  color: rgba(255, 255, 255, 0.5);
  font-size: 17px;

  min-width: 33%;
  text-align: center;
}

.App .content button {
  padding: 5px 15px;
  margin-bottom: 15px;
  color: white;
  border: none;
  border-radius: 5px;
  background: #e6b333;
  font-size: 16px;
  cursor: pointer;
}

.notWorking {
  text-align: center;
  text-decoration: none;
  background-color: #e6b333;
  color: rgba(255, 255, 255);
  width: 150px;
  margin: 0 auto;
  padding: 5px 10px;
  border-radius: 5px;
}